version: "3.3"
services:
  redis:
    container_name: coproduction-redis
    image: redis:6-alpine
    networks:
      - default

  coproduction:
    image: "coproductiondev:${TAG-latest}"
    container_name: coproduction-integrated
    volumes:
      - ./coproduction:/app
    env_file:
      - .env
      - .env.integrated
    environment:
      - PROTOCOL=http://
      - SERVER_NAME=${DOMAIN?Variable not set}
      - PORT=${PORT}
      - BASE_PATH=/coproduction
    build:
      context: .
      dockerfile: Dockerfile.coproduction
      target: dev
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.http.routers.${STACK_NAME?Variable not set}-coproduction-http.rule=PathPrefix(`/coproduction`)
      - traefik.http.services.${STACK_NAME?Variable not set}-coproduction.loadbalancer.server.port=${PORT}
      - traefik.http.routers.${STACK_NAME?Variable not set}-coproduction-http.middlewares=coproduction-stripprefix
      - traefik.http.middlewares.coproduction-stripprefix.stripprefix.prefixes=/coproduction
    networks:
      - traefik-public
      - default

  coproductionworker:
    image: "coproductionworkerdev:${TAG-latest}"
    container_name: coproductionworker-integrated
    volumes:
      - ./coproduction:/app
    env_file:
      - .env
      - .env.integrated
    environment:
      - RUN=celery worker -A app.worker -l info -Q main-queue -c 1
      - PROTOCOL=http://
      - SERVER_NAME=${DOMAIN?Variable not set}
      - BASE_PATH=/coproduction
    build:
      context: .
      dockerfile: Dockerfile.coproduction
      target: dev
    command: ["bash", "./worker-start.sh"]
    networks:
      - traefik-public
      - default

networks:
  traefik-public:
    external: true
