version: "3.7"
services:
  redis:
    container_name: coproduction-redis
    image: redis:6-alpine
    networks:
      - default
    logging:
      driver: "json-file"
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"

  coproduction:
    image: "coproductiondev"
    container_name: coproduction-integrated
    volumes:
      - ./coproduction:/app
    env_file:
      - .env
    environment:
      - PROTOCOL=http://
      - SERVER_NAME=${DOMAIN?Variable not set}
      - PORT=${PORT}
      - BASE_PATH=/coproduction
    command: ["bash", "./start-dev.sh"]
    build:
      context: .
      target: dev
    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik-public
      - traefik.http.routers.${STACK_NAME?Variable not set}-coproduction-http.rule=PathPrefix(`/coproduction`)
      - traefik.http.services.${STACK_NAME?Variable not set}-coproduction.loadbalancer.server.port=${PORT}
      - traefik.http.routers.${STACK_NAME?Variable not set}-coproduction-http.middlewares=coproduction-stripprefix
      - traefik.http.middlewares.coproduction-stripprefix.stripprefix.prefixes=/coproduction
    networks:
      - traefik-public
      - default
    logging:
      driver: "json-file"
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"

  coproductionworker:
    image: "coproductionworkerdev"
    container_name: coproductionworker-integrated
    volumes:
      - ./coproduction:/app
    env_file:
      - .env
    environment:
      - RUN=celery -A app.worker worker -l info -Q main-queue -c 1
      - PROTOCOL=http://
      - SERVER_NAME=${DOMAIN?Variable not set}
      - BASE_PATH=/coproduction
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    command: ["bash", "./worker-start.sh"]
    networks:
      - traefik-public
      - default
    logging:
      driver: "json-file"
      options:
        tag: "{{.ImageName}}|{{.Name}}|{{.ImageFullID}}|{{.FullID}}"

networks:
  traefik-public:
    external: true
